@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import 'tailwindcss';

:root {
    --primary-color: #005b86;
    --text-color: #7c7c7c;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    @apply font-[Inter];
}

@layer utilities {
    .scroll-hide {
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* IE and Edge */
    }
    .scroll-hide::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera */
    }
}
